{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    {% for post in page_obj %}
        <div class="post-main">
            <h5>{{post.content}}</h5>
            <p>By: {{post.user}}</p>
            <p>{{post.timestamp}}</p>
            <p>Likes: {{post.likes}}</p>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>    
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <li class="page-item active"><a class="page-link">{{num}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>    
                    {% endif %}
                </ul>
            </nav>
        </span>
    </div>
{% endblock %}
