{% extends "network/layout.html" %}
{% load static %}


{% block body %}
        <div>
            <form id="post-form">
                <div class="form-group">
                    <label for="post">New Post</label>
                    <textarea class="form-control" id="post-input" rows="3"></textarea>
                    <button type="submit" class="btn btn-primary" id="submit-post">Post</button>
                </div>
            </form>
        </div>

        {% for post in page_obj %}
            <div class="post-main" id="post-{{post.id}}">
                <h5 class="content">{{post.content}}</h5>
                <p>By: {{post.user}}</p>
                <p>{{post.timestamp}}</p>

                 <p>Likes: <span class="like-count">{{post.likes}}</span></p>

                {% comment %} Check to whether logged in user has liked the post and display button accordingly. {% endcomment %}
                <div class="like-btn-container">
                {% if user.is_authenticated %}
                    {% if request.user.id in post.liked_by_users  %}
                        <button class="btn btn-outline-secondary btn-sm" onclick=cancel_like({{post.id}})>Cancel Like</button>
                    {% else %}
                        <button class="btn btn-outline-primary btn-sm" onclick=like_post({{post.id}})>Like</button>
                    {% endif %}
                {% endif %}
                </div>
        
 
                {% if user.is_authenticated and request.user == post.user %}
                    <button class="btn btn-primary btn-sm edit" onclick=edit_post({{post.id}}) >Edit</button> 
                    <button class="btn btn-primary btn-sm submit" onclick=submit_edit({{post.id}}) style="display:none;">Save</button> 
                {% endif %}
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>    
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <li class="page-item active"><a class="page-link">{{num}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>    
                        {% endif %}
                    </ul>
                </nav>
            </span>
        </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}