{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <div>
        <form id="post-form">
            <div class="form-group">
                <label for="post">New Post</label>
                <textarea class="form-control" id="post-input" rows="3"></textarea>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}