{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="profile-view">
        <div class="profile-header">
            <h4 id="username">{{req_user.username}}</h4>
            <div>
                <span class="follows-container"><span id="follower-num" class="bold-text">{{followers}}</span>Followers</span>
                <span class="follows-container"><span id="following-num" class="bold-text">{{following}}</span>Following</span>
            </div>
            {% if user.is_authenticated %}
                {% if req_user.id != request.user.id %}
                    {% if is_followed %}
                        <form action="{% url "toggle_follow" %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="unfollow" value={{req_user.id}}>
                            <button type="submit" class="btn btn-primary mt-2">Unfollow</button>
                        </form>
                    {% else %}
                        <form action="{% url "toggle_follow" %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="follow" value={{req_user.id}}>
                            <button type="submit" class="btn btn-primary mt-2">Follow</button>
                        </form>
                    {% endif %}
                    
                {% endif %}
            {% endif %}
        </div>
        {% for post in page_obj %}
            <div class="post-main">
                <h5>{{post.content}}</h5>
                <p>By: {{post.user}}</p>
                <p>{{post.timestamp}}</p>
                <p>Likes: {{post.likes}}</p> 
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>    
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <li class="page-item active"><a class="page-link">{{num}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>    
                        {% endif %}
                    </ul>
                </nav>
            </span>
        </div>
    </div>
{% endblock %}