{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="profile-view">
        <div class="profile-header">
            <h4 id="username">{{req_user.username}}</h4>
            <div>
                <span class="follows-container"><span id="follower-num" class="bold-text">{{followers}}</span>Followers</span>
                <span class="follows-container"><span id="following-num" class="bold-text">{{following}}</span>Following</span>
            </div>
            {% if user.is_authenticated %}
                {% if req_user.id != request.user.id %}
                    {% if is_followed %}
                        <form action="{% url "toggle_follow" %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="unfollow" value={{req_user.id}}>
                            <button type="submit" class="btn btn-primary mt-2">Unfollow</button>
                        </form>
                    {% else %}
                        <form action="{% url "toggle_follow" %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="follow" value={{req_user.id}}>
                            <button type="submit" class="btn btn-primary mt-2">Follow</button>
                        </form>
                    {% endif %}
                    
                {% endif %}
            {% endif %}
        </div>
        {% for post in posts %}
            <div class="post-main">
                <h5>{{post.content}}</h5>
                <p>By: {{post.user}}</p>
                <p>{{post.timestamp}}</p>
                <p>Likes: {{post.likes}}</p> 
            </div>
        {% endfor %}
    </div>
{% endblock %}